
h1 {
    width: 361.93px;
    height: 45.79px;
    background: #FFFFFF;
}

p {
    font-family: Roboto Condensed;
    font-weight: 300;
    font-size: 86px;
    line-height: 92px;
    letter-spacing: 1.5px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    width: 693.1170043945312;
    height: 195;
    top: 85.79px;
    left: 99.44px;
    background: #FFFFFF;
}



button {
    width: 193.265625;
    height: 56;
    border-radius: 50px;
    background: #FDC913;
}



